/* ********** REGOLE GENERALI ********** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

li {
    padding: 5px;
}

main {
    padding-top: 100px;
}

.row {
    display: flex;
    flex-direction: row;
}

/* ********** HEADER ********** */

.container.flex {
    justify-content: space-between;
    align-items: center;
}
header {
    background-color: #FF6900;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 30;
    color: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.logo-nav {
    width: 150px;
}

.category-nav {
    gap: 8px;
    cursor: pointer;
}

/* ********** MAIN ********** */

.container-img {
    width: 400px;
    height: auto;
}

.relative {
    position: relative;
}

.sale-red {
    background-color: #F44336;
    color: #FFF;
    padding: 4px;
    font-size: 0.8em;
    margin-right: 3px;
}

.sale-green {
    background-color: #008000;
    color: #FFF;
    padding: 4px;
    font-size: 0.8em;
}

.badge {
    position: absolute;
    bottom: 45px;
    left: 0;
}

.heart-main {
    position: absolute;
    top: 15px;
    right: 0;
    background-color: #FFF;
    font-size: 2em;
    width: 40px;
    text-align: center;
    padding: 5px;
}

.title-product {
    font-size: 1.3em;
}

.price {
    font-size: 0.8em;
}

.sale-price {
    color: red;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
}